* {
    box-sizing: border-box;
}
body {
    line-height: 1.618em;
    color: #555;
    /* color:#000; */
    background: #2c3e50;
}
.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;
    padding: 5rem;
    background: #fff;
    border: 0.5rem solid #34495e;
}
a {
    text-decoration: none;
    color:#3498db;
}
[class^="fa"] {
    font-size: 4rem;
    margin: 1rem;
}
.fa-twitter {
    color:#00b0ed;
}
.fa-facebook{
    color:#3b5998;
}
.footnotes {
    margin: 60rem auto;
}
.tooltip{
    position:relative;
    display:inline-block; /* a태그는 inline 요소라서 크기를 제대로 잡지 못함 */
    /* border:1px solid; */
}
.tip {
    /* display:none; */
    position:absolute;
    left:100%; top:50%;
    transform:translateY(-50%);
    padding:1em; 
    font-size: 0.8em; 
    color:#fff; 
    background:#34495e;
    border-radius: 1em; 
    white-space: nowrap;
    opacity:0;
    margin-left:-5%;
    transition : 0.35s;
}
.tooltip:hover .tip {
    opacity:1;
    margin-left:0;
}
/* #footnotes:target{
    background: #ecf0f1;
} */

.tip::after {
    content:'';
    position:absolute;
    right:100%;
    top:50%;
    transform:translateY(-50%);
    /* width:0rem;
    height:0rem; */
    border-style: solid;
    border-color: transparent #34495e transparent transparent;
    border-width:0.5em;
}
#footnote:target {
    background: black;
    color:red;
}
#footnote2:target {
    animation : border-effect 2s;
}
@keyframes border-effect {
    0% {background: #fff;}
    50% {background: rgb(255, 159, 81);}
    100% {background: #fff;}
}