

*{margin: 0; padding: 0;}
body,h1,h2,h3,h4{font-family: verdana,sans-serif; font-size: 12px;}
#header{background-color: red; line-height: 40px;}
#wrap{width: 960px; margin: 0 auto;}
/* width가 px로 지정이 되어있기 때문에 960이하에서 스크롤이 생김 */
#container:after{content: ''; display: block; clear: both;}
#content{float: left; width: 600px; background-color: lime;}
#aside{float: right; width: 340px; background-color: green;}
/* 위와 마찬가지로 width가 px로 있기 때문에 화면이 줄어들면 둘의 배치가 이상해짐 -> 비율대로 줄어들어야 함 */
#footer{margin-top: 30px; background-color: silver; line-height: 30px;}

@media screen and (max-width:960px) {
    #wrap {width:100%;}
    #content {width:62.5%;}
    #aside {width:35.4%;}
}

@media screen and (max-width:480px) {
    #wrap {width:100%;}
    #content {width:100%; float:none;}
    #aside {width:100%; float:none;}

}