*{
    padding:0;
    margin: 0;
}
.wrapper{
    background: rgb(167, 167, 167);
    width:100%;
}
.wrapper *:not(:last-child) {
    margin-bottom: 1.5em;
}
@media screen and (max-width:768px) {
    .wrapper{background: #00f; color:#fff}
}
@media screen and (max-width:480px) {
    .wrapper{background: rgb(0, 121, 0); color:#fff}
}